.post {
  background-color: #353535;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5%;
}
  
.profile {
  display: flex;
  align-items: center;
}
  
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.profile-name, .profile-nickname {
  margin: 0;
  color: #dadada;
  cursor: pointer;
}
.profile-nickname {
  color:#888;
  padding-left: 10px;
}
  
.profile-post-data {
  font-size: 16px;
  color: #888;
}
.profile p:last-child{
  margin-left: auto;
}

.text-content {
  color: #dadada;
  margin-top: 10px;
  font-size: 18px;
}

.media-content img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
  border-radius: 2%;
  cursor: pointer;
}

.bottom-post {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.comments, .retweets, .likes, .views {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.comments-img, .retweets-img, .likes-img, .views-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.bottom-post-number {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
