.App {
  font-family: 'Edu SA Beginner', cursive;
}
  
.container {
  display: flex;
}
  
.left-sidebar, .right-sidebar {
  width: 25%;
  min-width: 250px;
  background-color: #000000;
  padding: 20px;
}
  
.main-content {
  flex-grow: 1;
  background-color: #000000;
  padding: 20px;
  overflow-y: auto;
  height: 82.6vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #dadada;
  padding: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.logo, h4 {
  cursor: pointer;
}

.left-sidebar {
  padding-right: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
.left-sidebar p {
  margin: 15px 0;
  cursor: pointer;
  color: #dadada;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
}
  
.user {
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: center;
  cursor: pointer;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  color: #dadada;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.user-nickname {
  margin: 0;
  color: #888;
  font-size: 13px;
}

.user-info {
  display: block;
  align-items: center;
}

.right-sidebar-content{
  background-color: #353535;
  border-radius: 10%;
  padding: 1px;
  margin-top: 1rem;
}

.right-sidebar-content > h2{
  color: #dadada;
  font-size: 25px;
  text-align: center;
}

.popular {
  color: #dadada;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10%;
}
.popular > p{
  cursor: pointer;
  margin: 15px 0;
}
